* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0px 7px;
    background-color: rgba(255, 255, 255, 0.72);
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    transition: all .3s ease;
    font-family: YekanBakhMedium;

}

.hamburger-icon {
    display: none;
}

.logo {
    margin: 11px 28px;

}

.header-ul {
    display: flex;
    list-style: none;
}

.header-ul li {
    font-size: 14px;
    margin: 0px 15px;
}

.header-ul a {
    cursor: pointer;
    text-decoration: none;
    color: #303030;
}

.header-ul>li:last-child a {
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    padding: 10px 27px;
    margin-right: 20px;
    font-family: 'YekanBakhBold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header-ul>li:last-child a:hover {
    background-color: #fbf6d9;
}

.more-menu {
    display: flex;
}

.more-menu img {
    width: 8px;
    margin-right: 8px;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    font-family: "iranyekanwebmedium";
    transform: translateY(-100%);
}

.cross-icon {
    width: 100%;
    text-align: left;
    padding: 25px 30px;
}

.cross-icon img {
    width: 20px;
    margin-left: 30px;
}

.hamburger-menu-items {
    padding: 10px 30px;
}

.hamburger-menu-items ul {
    list-style: none;
}

.hamburger-menu-items a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0px;
}

.hamburger-menu-items div {
    height: 1px;
    background-color: #dfe1e4;
    width: 90%;
    margin: 8px 0px;
}

.more-item {
    display: flex;
    background-color: #eee;
    padding: 20px 50px;
    align-items: center;
}

.more-item img {
    width: 15px;
    margin-right: 5px;
}

.more-item a {
    text-decoration: none;
    color: #28457b;
    font-size: 0.85rem;
}

#show-more-menu {
    position: relative;
}

#show-more-menu ul {
    position: absolute;
    top: 0;
    left: -35px;
    background-color: #fff;
    border-top: 5px solid #f8e88e;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 23px;
    list-style: none;
    width: 123px;
    display: none;
}

#show-more-menu li {
    margin: 0;
    padding: 10px 20px;
    font-size: .8rem;
    color: black
}

#show-more-menu li:hover {
    background-color: rgba(232, 239, 254, .6);
}

#show-product-menu {
    position: relative;
}

.product-menu {
    position: absolute;
    top: 0;
    left: -135px;
    background-color: #fff;
    display: none;
    justify-content: flex-start;
    width: 372px;
    border-top: 5px solid #f8e88e;
    border-radius: 12px;
    padding-top: 5px;
    margin-top: 23px;
}

.product-menu a p:first-child {
    color: #000;
    font-size: 0.95rem;
}

.product-menu a p:last-child {
    color: #000;
    font-size: .7rem;
}

.product-menu a {
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.banner {
    width: 1050px;
    padding: 124px 60px 80px;
    background-image: linear-gradient(135deg, #21254e, #2b4a83);
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.banner-text h3 {
    font-family: "YekanBakhHeavy";
    font-size: 2rem;
    color: #fff;
}

.banner-text p {
    color: #fff;
    font-size: 1.15rem;
    margin: 25px 0px;
    line-height: 2.5rem;
    font-family: "YekanBakhMedium";
}

.banner-image img {
    width: 500px;
}

.banner-button {
    margin-top: 60px;
}

.register {
    font-size: 1rem;
    font-family: "YekanBakhBold";
    color: #000;
    background-color: #ffd900;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.login {
    font-size: 1rem;
    font-family: "YekanBakhBold";
    color: #fff;
    background-color: #435a8a;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    text-decoration: none;

}

.go-down {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 58px;
}

.go-down div {
    background-image: url(../images/arrowbottom.svg);
    width: 164px;
    height: 78px;
}

.go-down img {
    width: 20px;
    position: relative;
    top: -60px;
}

@media (max-width:1200px) {
    header {
        width: 940px;
    }
}

.show-hamburger-menu {
    animation: FadeInDown 0.35s forwards;
}

@keyframes FadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:990px) {
    header {
        width: auto;
        padding: 20px 60px;

        .header-ul li:last-child {
            display: none;

            .logo {
                margin: 0;
            }

            .header-ul li {
                margin: 0 10px
            }
        }
    }
}

@media (max-width:768px) {
    .header-ul {
        display: none;
    }

    header {
        width: auto;
        padding: 10px 8px;
    }

    .hamburger-icon {
        display: block;
    }

}