*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0px 7px;
    background-color: rgba(255, 255, 255, 0.72);
    position: sticky;
    top:0;
    backdrop-filter: blur(20px);
    transition: all .3s ease;
    font-family: YekanBakhMedium;
}

.logo {
    margin:11px 28px;

}
.header-ul{
    display: flex;
    list-style: none;
}

.header-ul li{
    font-size: 14px;
    margin: 0px 15px;
}

.header-ul a{
    cursor: pointer;
    text-decoration: none;
    color:#303030;
}

.header-ul > li:last-child a {
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    padding: 10px 27px;
    margin-right: 20px;
    font-family:'YekanBakhBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.header-ul > li:last-child a:hover{
    background-color: #fbf6d9;
}

.more-menu {
    display: flex;
}

.more-menu img{
    width: 8px;
    margin-right: 8px;
}